html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #1FAAC9;
    font-family: 'Varela Round';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    border: 5px solid white;
    margin: 0 auto;
    width: 640px;
    height: 890px;
    display: flex;
}

.game {
    width: 100%;
    height: 71.5%;
}

.score {
    position: absolute;
    top: 10;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    opacity: 0.3;
    text-transform: uppercase;
    color: white;
}

.canvas-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #72838b;
}

.controls {
    background-color: #455A64;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button[class^="btn"] {
    background-color: #1FAAC9;
    padding: 5px 20px;
    text-transform: uppercase;
    font-family: 'Varela Round';
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    letter-spacing: 0.3em;
    height: 75px;
    width: 200px;
    line-height: 30px;
    padding: 0 10px;
    box-shadow: 0 0 10px 5px rgba(black, 0.2);
    outline: none;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}

button[class^="btn"]:hover {
    background: lighten(#FFA000, 10%);
    box-shadow: 0 0 20px 5px rgba(black, 0.3);
}

.button-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}